body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.school-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-cards-container {
  display: flex;
  overflow-x: auto; 
}

.skill-cards, .school-skill-cards {
  display: flex;
  gap: 16px; 
  transition: transform 0.5s ease; 
}

.skill-card, .school-skill-cards {
  min-width: 200px;
  padding: 16px;
  margin: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

.skill-card img, .school-skill-cards img {
  width: auto;
  height: 80px;
  object-fit: cover;
  margin-bottom: 16px;
}

.skill-card p, .school-skill-cards p {
  font-size: 16px;
  color: #333;
}

.skill-card p, .school-skill-cards p {
  font-family: 'Bogart';
  font-size: 1.5vw;
  font-weight: 450;
}

.section {
  overflow: hidden;
}

.skill-cards {
  display: flex;
  animation: scrollAnimation 10s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

