body {
    margin: 0;
    padding: 0;
  }

.WelcomeSection{
    display: flex;
    flex-direction: column;
}
#welcomeText {
    font-family: 'Bogart', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
    color: #475D5B;
    max-width: 22em;
    margin: 0 auto 1em auto; 
  }
  #lb {
    font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    color: #475D5B;
  }

.welcomeSection {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}
  
#welcome{
  height:auto;
  width: 50vw;
}