.PageTitle{
  font-family: 'Bogart', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-weight: 800; 
  font-size: 5em !important;
  margin-bottom: 1em; 
  letter-spacing: 2px;
  text-align: center;
}


#Introduction{
  text-align: center;
}

.position-title{
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1em;
}
.month-date{
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.body-contentSub{
  width:21em;
  font-family: 'Bogart', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: black;
  line-height: 1.5em;
  text-align: center;
  margin: 0 auto;

}
.subtitle{
  font-family: 'Bogart', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  font-style: italic;
    margin-top:1em;
}
.body-content{
  font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: black;
    line-height: 1.5em;
}
.body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: 2em
}

.experienceSection{
    /* padding: 2em; */
    margin-left:2.5em;
    padding-bottom: 0; 
    padding-top:0;
    
}

.check{
  color:#FF8096;
}
.experienceSection2 > .experienceSection{
  /* padding: 0.5em; */
  padding-bottom: 0; 
  padding-top:0;
  /* margin-left: 2.5em; */
}
.experienceSection3 > .experienceSection{
  padding: .5em;
  margin-left:3em;
  padding-bottom: 0; 
  padding-top:0;
}
#experience-img{
    display: block;
    margin: 0 auto;
    width: 40vw;
    margin-top: 5em;
}
.experienceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1em; 
  }
  
  .experienceColumn {
    display: flex;
    flex-direction: column; 
  }
  #background-p {
    font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: black;
    line-height: 1.5em;
  }

  .background{
    margin:3em;
  }
  .background-top{
    font-family: 'Bogart', sans-serif;
    font-weight: 800;
    font-size: 2.2em;
      margin-top:1em;
  }
  .experienceSection2{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    margin: 3em;
  }
  .experienceSection2 > :nth-child(1) {
    grid-column: span 2; 
    text-align: center; 
  }
.equations{
  text-align: center;
  font-size: .8em;
}
  .body-content a {
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .center-link, #eqn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #background{
    display: flex;
    flex-direction: column;
    padding-bottom:0;
  }

#MCFL{
  font-family: 'Bogart', sans-serif;
  font-weight: 900;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.experience3{
  margin:3em;
}

a{
  color:#FF8096;
}
.link{
  text-decoration: none;
  display: inline;
}
.center-link {
  display: inline;
}

