.position-title{
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: #475D5B;
    margin-top:2em;
}
.month-date{
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #475D5B;
}
.workexperienceHeader img{
    width: 70vw;
    height: auto;
    position: relative;
    transform: translate(15vw, 20vw);
}

.subtitle{
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color:rgba(250, 174, 43, 1);
    margin-top:1em;
}
.body-content{
    font-family: 'Bogart', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #475D5B;
    width: 30vw;
}
.body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
}

.experienceSection{
    padding: 4vw;
    padding-bottom: 0; 
    padding-top:0;
}

#experience-img{
    display: block;
    margin: 0 auto;
    transform: translate(0px, 90px);
    width: 30vw;
}
.experienceContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 

  }
  
  .experienceColumn {
    display: flex;
    flex-direction: column;
   
  }
  .experienceSection2{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }

  .experienceSection2:nth-child(3) {
    grid-column: span 2; 
    align-self: center; 
    margin-top: 7vw;
  }
  
  .experience3 #experience-img {
    width: 30vw;
    height: 33vh;
  }
  #NSEqn{
    display: inline-block;
    max-width: 70vw;
    height: auto;
    transform: translate(-7em, -190px);
  }

  .body-content a {
    text-decoration: none;
    font-size: 1.2em;
  }
  
  #eqn{
    transform: translate(0px, -20vw);
  }
  .center-link, #eqn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .experience3 > .experienceSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center; 
  }
  #background{
    display: flex;
    flex-direction: column;
    padding-bottom:0;
  }

