nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 999;
  width: 100%;
}

.navbarContainer {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  display: flex;
  font-weight: bold;
}

#name {
  font-family: 'Bogart', sans-serif;
  font-size: 6em; 
  color: black; /* Text color */
  text-decoration: none; /* Remove default underline for links */
  margin-left: 20px; 
  font-style: italic;
}

#NavBar{
  margin-bottom: 6vh;
}