@import url(https://db.onlinewebfonts.com/c/5adea73b2b16568b5eba321d4c333e89?family=Bogart+Medium);
@font-face {
  font-family: 'Lucky Bones';
  src: url('../fonts/Luckybones-Bold.ttf') format('truetype'); 
}
body {
  margin: 0;
  padding: 0;
  border: none;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  background-color: #00473E;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  margin: auto;
  right: 4em;
}

.social-links a {
  text-decoration: none;
  display: inline-block; 
}

.social-links img {
  width: 8em;
  height: auto;
  object-fit: contain; 
}

#name{
  font-family: 'Lucky Bones'; 
  font-size: 82.2px; 
  color: white; 
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}