@font-face {
  font-family: 'Lucky Bones';
  src: url('../fonts/Luckybones-Bold.ttf') format('truetype'); 
}

.content-container {
  min-height: calc(100vh - 80px); 
}

.footer {
  color: #475D5B;
  text-align: center;
  position: inherit;
  width:100%;
  bottom: 0;
  height: auto;
}

.get-in-touch h2 {
  font-family: 'Lucky Bones'; 
  font-size: 2.7em; 
  margin: 0;
  margin-top: 1vw;
  color: #475D5B;
}

.get-in-touch p {
  font-family: 'Bogart', sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
  text-align: center;
  color: #475D5B;
  max-width: 44em;
  margin: 0 auto 1em auto; 
}

.scroll-to-top {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}

.scroll-to-top button {
  color: rgba(250, 174, 43, 1);
  background-color: rgba(0, 71, 62, 0); /* Transparent background */
  border-color: rgba(0, 71, 62, 0);
  font-family: 'Bogart', sans-serif;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding:1em;
  padding-right:0;
  padding-bottom:0;
}

.get-in-touch a {
  text-decoration: none;
  color: rgba(250, 174, 43, 1);
  font-weight: bolder;
}

.get-in-touch {
  margin-top: 5vw;
  padding-bottom: 10px; 
}
