.Contact{
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1em;
    font-style: italic;
}
.icon-container {
    display: flex;
    justify-content: space-between;
    width: 25em;
    align-items: center;
    bottom: 0;
    margin: 0 auto;
    padding: 10px; 
  }
  
  .webIcons {
    margin: 0 20px; 
  }
  
  .icon {
    width: 4em;  
    height: 4em;
  }
  .get-in-touch{
    position: sticky;
  }
  .get-in-touch p {
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1em;
  }
  