.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .pictureofMe img{
    flex: 1; 
    padding-right: 20px;
    border-radius: 10em;
    height: 40em;
    width: auto;
    margin-left: 7em;
  }
  
  .about-me-text {
    max-width: 450px;
    font-family: 'Bogart', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    text-align: left;
    color: #475D5B;
    max-width: 22em;
    margin: 0 auto 1em auto; 
  }
  #Introduction{
    text-align: center;
  }