@font-face {
  font-family: 'Combat';
  src: url('../../fonts/Combat.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Harmond';
  src: url('../../fonts/Harmond-ExtraBoldExpanded.ttf') format('truetype'); 
}

.PageTitle{
  font-family: 'Bogart', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-weight: 800; 
  font-size: 5em !important;
  margin-bottom: .5em; 
  letter-spacing: 2px;
  text-align: center;
}
  .aboutmeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutmeHeader {
    display: inline-block;
    margin: 0 auto; 
    margin-bottom: 15px; 
  }
    
  .interestsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .schoolContainer{
    display: flex;
  }
  .interests-text, .introduction-text, .school-text, #school {
    font-family: 'Bogart', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: black;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    text-align: justify;
  }

  .introduction-text{
    width: 60vw;
  }
  #rivian-car {
    height: 1.5em; 
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
.introduction-section {
  display: flex;
  width: 100vw;
  margin-right: 1em;
  justify-content: space-between;
  align-items: center;
}
  #ME, #SWE{
    font-family: 'Bogart', sans-serif;
    font-weight: 700;
  }

  .img{
  width: 5vw;
  height: auto;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  }

.gh-img{
  width: 15vw;
  height: auto;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.school{
  display:flex;
  width: 85vw;
  text-align: justify;
}

#school,
#ME,
#SWE,
#skills {
  margin-right: 10px; 
  
}

.title{
  font-family: 'Bogart', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

.country-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 46px;
}

.country-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flag-img{
  width: 5vw;
  height: auto;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}