.education {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
  }
  .schools{
    display: flex;
    flex-direction: row;
    padding: 3em;
  }

  .educationHeader img{
      max-width: 100%;
      height: auto;
      position: relative;
      transform: translate(0px, 200px);
  }
  
  .education-item {
    text-align: center;
    padding: 3em;
  }
  
  .education-item img {
    max-width: 100%; 
    height: auto;
  }
  
  .education p {
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    font-size: 2.9em;
    text-align: center;
    color: #475D5B;
    margin-top: 2em; 
  }
  