#name-section p, .wavy-text{
   color: #00473E;
   text-align:center;
   font-family: 'Bogart', sans-serif;
   font-weight: bold;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .hi, .explore {
    animation: fadeIn 1s;
  }
  
.hi{
    font-size: 4vw;
    margin-bottom: 0;
}

.explore{
    font-size: 2vw;
    padding-bottom: 1.5vw;
}

.scroll-effect {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .scroll-effect.hidden {
    opacity: 0;
  }
  
  .scroll-effect.hidden .new-text {
    font-size: 2em;
    transition: font-size 0.5s ease-in-out;
  }

@keyframes scaleIn {
  from {
      transform: translateX(-100%);
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.explore {
  cursor: pointer;
}

.jumping {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.explore {
  cursor: pointer;
}

.jumping {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.explore {
  cursor: pointer;
}

.jumping {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.explore {
  cursor: pointer;
}

.jumping {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  .slide-in {
    animation: slideIn 0.5s forwards;
    opacity: 0;
  }
  

  .logo-image{
    height:auto;
    width:30vw;
    display: inline-flex;
  }

  #name-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.explore {
    color: #f5f5f5;
    background: #00473E;
    padding: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Bogart', sans-serif;
    font-weight: bold;
    border-radius:3vw;
  }
  
  button.explore:hover {
    background: #00897B;
  }
  
  button.explore.jumping {
    animation: jump 1s;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  