
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  transform: rotate(-90deg);
  color: #6949FF;
  padding: 15px 20px; 
  border: none;
  cursor: pointer;
  background: transparent; 
  outline: none;
  font-size: 5em;
  font-family: 'Bogart', sans-serif;
  transition: background-color 0.3s ease;
}